* {
  box-sizing: border-box
}

body {
  background: #141E30; 
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  
  background: linear-gradient(to right, #243B55, #141E30);
/* background: #000000; 
background: -webkit-linear-gradient(to right, #434343, #000000);
background: linear-gradient(to right, #434343, #000000); */
}

nav {
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: space-between;
  font-size: 2.5vw;
  color: #fff;
  font-weight: bold;
  height: 75px;
}

#nav_links,
#balance  {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#nav_links div, 
#nav_links a {
  height: 75px;
}

#nav_links img {
  background-color: #fff;
  border-radius: 50%;
}

#nav_links a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

#nav_links p, 
#nav_links span  {
  padding: 0 40px 0 10px;
}

#balance p {
  margin-right: 10px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
  font-size: 24px;
  color: #fff;
}

main #queue_message {
  height: 32px;
}

main #find_match {
  padding: 10px 20px;
  background-color: #007bff; /* Primary blue color */
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

main #find_match:hover {
  background-color: #0056b3;
}

main #find_match:disabled {
  background-color: #92a1b1;
  cursor: default;
}

@media only screen and (width < 768px) {
  body {
    background: #141E30; 
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Header for the dropdown - Avatar and Username */
.dropdown-header {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* Hide the dropdown content by default */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  z-index: 1;
}

.dropdown-content a {
  color: black !important;
  margin: 0 auto;
  cursor: pointer;
  width: 100%;
  justify-content: center; /* it got display inline-flex */
  border: 1px solid black;
}

.dropdown-content button {
  cursor: pointer;
  height: 36px;
    background-color: red;
}

/* Show dropdown when clicked */
.dropdown:focus-within .dropdown-content {
  display: flex;
  flex-direction: column;
}
